<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentacion API</title>
  <link rel="stylesheet" href="style.css">
<body>
    <hr>
    <h1>Documentación de la API Tipo_cultivo</h1>
    <br>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR TIPO DE CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Registrar Tipo de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/Registrartipo_cultivo</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo tipo de cultivo en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{ "nombre": "frijol" }</td></tr>
        <tr><td>Respuesta json</td>  <td>    
            Correcto: 
            Status: 200
            json:
            {
                "status": 200,
                "message": "Se registró el tipo de cultivo con éxito"
            }
            <br>
            Incorrecto:
            
            Status: 404
            body:{
                "status": 404,
                "message" : "No se registro el tipo de cultivo"
            }
            <br>
            Error: 
            
            Status: 500 
            json: {
                "status": 500,
                "message" : "Error interno del servidor"
            }
        </td></tr>
        <tr><td>Programador</td>  <td>Dario Jose Zamra V - devjdz</td></tr>
    </table>
    
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR TIPO DE CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar Tipo de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/Actualizartipo_cultivo/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar un tipo de cultivo existente en la base de datos por medio de su id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"nombre": "Nuevo nombre del tipo de cultivo"}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó el tipo de cultivo con éxito",
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se actualizo el tipo de cultivo"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Dario Jose Zamra V - devjdz</td></tr>
    </table>
    <h3>Requerimiento 3. Documentacion ENDPOINT DESACTIVAR TIPO DE CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Desactivar Tipo de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/Desactivartipo_cultivo/tipo_cultivo/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite desactivar un tipo de cultivo existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuario</td>  <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"estado": "inactivo"}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se desactivo con éxito el tipo de cultivo"
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se desactivo el tipo de cultivo"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Dario Jose Zamra V - devjdz</td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR TIPO DE CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar Tipo de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/Buscartipo_cultivo/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar tipos de cultivo en la base de datos por medio de su id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, empleado</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
          "id_cultivo": 1,
          "nombre": "Nuevo nombre del tipo de cultivo",
          "estado": "inactivo"
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Dario Jose Zamra V - devjdz</td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR TIPOS DE CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Tipos de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/listartipo_cultivo</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todos los tipos de cultivo registrados en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, empleado</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
        {
          "id_cultivo": 1,
          "nombre": "Nuevo nombre del tipo de cultivo",
          "estado": "inactivo"
        },
        {
          "id_cultivo": 2,
          "nombre": "Tipo de cultivo 1",
          "estado": "activo"
        }
      ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No hay Tipos de cultivos."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Dario Jose Zamra V - devjdz</td></tr>
    </table>
    
</body>
</html>