<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentacion Variedad Cultvo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Documentación de la API VARIEDAD_CULTIVO</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR VARIEDAD_CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar Varieda de cultivo</td></tr>
        <tr><td>URL</td>  <td>/registrarcultivo</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo Tipo de Variedad de Cultivo en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td> <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_variedad": "aguacate", "fk_tipo_cultivo":1}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {   
        "status": 200,
        "message": "se registro la Variedad con exito",
    }
    <br>
    Incorrecto:
    
    Status: 403
    body:{
        "status": 403,
        "message" : "No se registrar la variedad."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR VARIEDAD_CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar Variedad del Cultivo</td></tr>
        <tr><td>URL</td>  <td>/actualizarCultivo/:id 3</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar una variedad de cultivo existente en la base de datos por medio de su id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuario</td><td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_variedad":"cilantro","fk_tipo_cultivo":1 }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontro el registro para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    
    <h3>Requerimiento 3. Documentacion ENDPOINT DESACTIVAR VARIEDAD_CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Desactivar Variedad de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/desactivar/Actividad/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite desactivar una variedad de cultivo existente en la base de datos por medio de su id</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuario</td> <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"estado": inactivo}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se desactivó con éxito",
            "result": {
            "affectedRows": 1 
            }
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para desactivar."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR VARIEDAD_CULTIVO</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar Variedad de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/buscarCultivo/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar una variedad de cultivo por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador,Empleador</td></tr>
        <tr><td>Request json</td>  <td>{ null}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
        {
            "id_actividad": 1,
            "nombre_variedad": "aguacate",
            "estado": "inactivo",
            "fk_tipo_cultivo":1
        },
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR TIPO RECURSO</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Variedad de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/listarcultivo</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todas las variedades de cultivos registradas en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td> <td>Administrador,Empleador</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
            {
                "id_actividad": 1,
                "nombre_variedad": "aguacate",
                "estado": "inactivo",
                "fk_tipo_cultivo":1
            },
            {
                "id_actividad": 1,
                "nombre_variedad": "cafe hass",
                "estado": "activo",
                "fk_tipo_cultivo":2
            }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No hay cultivos"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td> <td>Daniel F Gonzalez - devdfg</td></tr>
    </table>
        
    </body>
    </body>
