<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Documentacion</title>
</head>
<body>
    <h1>Documentación de la API TIPO-ACTIVIDAD</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR TIPO-ACTIVIDAD</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Registrar Tipo Actividad</td></tr>
        <tr><td>URL</td>  <td>/registrarActividad</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo tipo de actividad en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador,lider</td></tr>
        <tr><td>Request json</td>  <td>{"nombre":"Abonar","fk_id_tipo_cultivo":1}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
    {
		"status": 200,
		"message": "Se registró con éxito"
	}
    <br>
    Incorrecto:
    
    Status: 403
    body:{
        "status": 403,
        "message" : "No se registró"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Esteban Gaviria M - deveag</td></tr>
    </table>



    <br>




    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR TIPO-ACTIVIDAD</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar Tipo-Actividad</td></tr>
        <tr><td>URL</td>  <td>/actualizarActividad/:id 2</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar un tipo de actividad existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador,lider</td></tr>
        <tr><td>Request json</td>  <td>{"nombre": "Cosechar","fk_id_tipo_cultivo":1}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Esteban Gaviria M - deveag</td></tr>
    </table>











    <h3>Requerimiento 3. Documentacion ENDPOINT DESACTIVAR TIPO-ACTIVIDAD</h3>
<table>
    <tr><td>Número</td> <td>3</td></tr>
    <tr><td>Nombre del Servicio</td>  <td>Desactivar Tipo-Actividad</td></tr>
    <tr><td>URL</td>  <td>/desactivar/Actividad/:id</td></tr>
    <tr><td>Descripción</td>  <td>Permite desactivar un tipo de actividad existente en la base de datos</td></tr>
    <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
    <tr><td>Header</td>  <td>Null</td></tr>
    <tr><td>Usuarios</td>  <td>Administrador</td></tr>
    <tr><td>Request json</td>  <td>{"estado": "inactivo"}</td></tr>
    <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
		"status": 200,
		"message": "Se actualizó con éxito",
		"result": {
		"affectedRows": 1 
		}
	}
<br>
Incorrecto:

Status: 404
body:{
    "status": 404,
    "message" : "No se encontró el registro para actualizar"
}
<br>
Error: 

Status: 500     
json: {
    "status": 500,
    "message" : "Error interno del servidor"
}
</td></tr>
<tr><td>Programador</td>  <td>Esteban Gaviria M - deveag</td></tr>
</table>











<br>




<h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR ACTIVIDAD</h3>
<table>
    <tr><td>Número</td> <td>4</td></tr>
    <tr><td>Nombre del Servicio</td>  <td>Buscar Tipo de Actividad</td></tr>
    <tr><td>URL</td>  <td>/buscarActividad/:id 2</td></tr>
    <tr><td>Descripción</td>  <td>Permite buscar un tipo de actividad por su id en la base de datos</td></tr>
    <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
    <tr><td>Header</td>  <td>Null</td></tr>
    <tr><td>Usuarios</td>  <td>Administrador,Lider,Aprendiz</td></tr>
    <tr><td>Request json</td>  <td>{Null}</td></tr>
    <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    [
        {
            "id_tipo_actividad": 1,
            "nombre":"Cosechar",
            "estado":"Inactivo",
            "fk_id_tipo_cultivo": 1
        }
    ]
<br>
Incorrecto:

Status: 404
body:{
    "status": 404,
    "message" : "No se encontraron resultados para la búsqueda"
}
<br>
Error: 

Status: 500 
json: {
    "status": 500,
    "message" : "error en el sistema"
}
</td></tr>
<tr><td>Programador</td>  <td>Esteban Gaviria M - deveag</td></tr>
</table>





<br>


<h3>Requerimiento 5. Documentacion ENDPOINT LISTAR TIPO ACTIVIDAD</h3>
<table>
    <tr><td>Número</td> <td>5</td></tr>
    <tr><td>Nombre del Servicio</td>  <td>Listar tipo Actividad</td></tr>
    <tr><td>URL</td>  <td>/listarActividad</td></tr>
    <tr><td>Descripción</td>  <td>Permite obtener una lista de todas las actividades registradas en la base de datos</td></tr>
    <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
    <tr><td>Header</td>  <td>Null</td></tr>
    <tr><td>Usuarios</td>  <td>Administrador,Lider,Aprendiz</td></tr>
    <tr><td>Request json</td>  <td>Null</td></tr>
    <tr><td>Respuesta json</td>  <td>   
    Correcto: 
    Status: 200
    json:
    [
        {
            "id_tipo_actividad": 1,
            "nombre": "Cosechar",
            "estado":"Inactivo",
            "fk_id_tipo_cultivo": 1
        },
        {
            "id_tipo_actividad": 2,
            "nombre": "Cultivar",
            "estado":"Activo",
            "fk_id_tipo_cultivo": 2
        },
    ]
<br>
Incorrecto:

Status: 404
body:{
    "status": 404,
    "message" : "No hay ninguna actividad"
}
<br>
Error: 

Status: 500 
json: {
    "status": 500,
    "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Programador</td>  <td>Esteban Gaviria M - deveag</td></tr>
</table>



<br>
<br>




<br>
<br>

</body>
</html>