<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>131</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Documentación de la API USUARIOS</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR USUARIOS</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar usuarios</td></tr>
        <tr><td>URL</td>  <td>/usuarios</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo usuario en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "nombre": "ana",
            "apellido":"garcia",
            "correo":"ten@gmail",
            "rol":"aprendiz",
            "cargo":"lider",
            "ficha_tecnica":"53563454",
            "contraseña":"45654566"
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        { 
            "status": 200,
            "message": "usuario creado con exito",
        }

        <tr><td>Respuesta json</td>  <td>   
            validacion: 
            Status: 400
            json:
            { 
                "status": 400,
                "message": "completa todos los campos requeridos",
            }
    <br>
    Incorrecto:
    
    Status:  403
    body:{
        "status":  403,
        "message" : "no se pudo crear usuarios"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Ha ocurrido un error"
    }
    </td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR USUARIO</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar usuario</td></tr>
        <tr><td>URL</td>  <td>/usuarios/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar un usuario existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "nombre": "lopes",
            "apellidos": "Jimenez",
            "correo": "@tan",
            "rol": "aprendiz",
            "cargo": "pasante",
            "ficha_tecnica": 2147483647,
            "contraseña": 58656586	
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito",
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    </table>
    
    <h3>Requerimiento 3. Documentacion ENDPOINT ELIMINAR USUARIO</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Eliminar usuario</td></tr>
        <tr><td>URL</td>  <td>/usuario</td></tr>
        <tr><td>Descripción</td>  <td>Permite eliminar un usuario existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>DELETE</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "id_usuario": 1
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se elimino con éxito",
            "result": {
            "affectedRows": 1 
            }
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para eliminar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR UN USUARIO</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar un usuario</td></tr>
        <tr><td>URL</td>  <td>/usuarios/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar un usuario por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{ Null }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_usuario": 5,
	        	"nombre": "lopes",
	        	"apellidos": "Jimenez",
	        	"correo": "@tan",
	        	"rol": "aprendiz",
	        	"cargo": "pasante",
	        	"ficha_tecnica": 2147483647,
	        	"contraseña": 58656586
	        }
]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR USUARIOS</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar usuarios</td></tr>
        <tr><td>URL</td>  <td>/usuarios</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todos los usuarios registradas en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_usuario": 5,
	        	"nombre": "lopes",
	        	"apellidos": "Jimenez",
	        	"correo": "@tan",
	        	"rol": "aprendiz",
	        	"cargo": "pasante",
	        	"ficha_tecnica": 2147483647,
	        	"contraseña": 58656586
	        }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "no hay usuarios"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <h1>Documentación de la API LOTES</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR LOTES</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar lotes</td></tr>
        <tr><td>URL</td>  <td>/lotes</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo lote en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "nombre": "loteE",
            "fk_id_finca": null,
            "fk_id_variedad_cultivo": null,
            "estado": "inactivo"
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {   
        "status": 200,
        "message": "lote registrado con exito",
    }
    <tr><td>Respuesta json</td>  <td>   
        validacion: 
        Status: 400
        json:
        {   
        "status": 400,
        "message": "completa todos los campos requeridos",
    }
    <br>
    Incorrecto:
    
    Status: 403
    body:{
        "status": 403,
        "message" : "no se pudo registrar el lote"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Ha ocurrido un error"
    }
    </td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR LOTE</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar LOTE</td></tr>
        <tr><td>URL</td>  <td>/lotes/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar un lote existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "nombre": "loteB",
            "estado": "activo"
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    </table>
    
    <h3>Requerimiento 3. Documentacion ENDPOINT ELIMINAR LOTE</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Eliminar lote</td></tr>
        <tr><td>URL</td>  <td>/lotes</td></tr>
        <tr><td>Descripción</td>  <td>Permite eliminar un lote existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>DELETE</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "id_lote":4
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se elimino con éxito",
            "result": {
            "affectedRows": 1 
            }
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para eliminar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR UN LOTE</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar un lote</td></tr>
        <tr><td>URL</td>  <td>/buscarCultivo/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar un lote por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{ null}</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_lote": 2,
	        	"nombre": "looote",
	        	"fk_id_finca": null,
	        	"fk_id_variedad_cultivo": null,
	        	"estado": "activo"
	        }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR LOTES</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Variedad de Cultivo</td></tr>
        <tr><td>URL</td>  <td>/lotes</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todos los lotes registrados en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_lote": 2,
	        	"nombre": "looote",
	        	"fk_id_finca": null,
	        	"fk_id_variedad_cultivo": null,
	        	"estado": "activo"
	        }
        ]   
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "no hay lotes"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
        

    <h1>Documentación de la API PRODUCCION</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR PRODUCCION</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar produccion</td></tr>
        <tr><td>URL</td>  <td>/produccion</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar una nueva produccion en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "fk_id_variedad_cultivo": null,
            "cantidad_produccion": 9,
            "precio": 5500
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        { 
            "status": 200,
            "message": "se registro la produccion con exito",
        }

        <tr><td>Respuesta json</td>  <td>   
            validacion: 
            Status: 400
            json:
            { 
                "status": 400,
                "message": "completa todos los campos requeridos",
            }
    <br>
    Incorrecto:
    
    Status:  403
    body:{
        "status":  403,
        "message" : "no se registro la produccion"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "Ha ocurrido un error"
    }
    </td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR PRODUCCION</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar produccion</td></tr>
        <tr><td>URL</td>  <td>/produccion/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar una produccion existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "cantidad_produccion": 9,
            "precio": 5500
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito",
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    </table>
    
    <h3>Requerimiento 3. Documentacion ENDPOINT ELIMINAR PRODUCCION</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Eliminar produccion/td></tr>
        <tr><td>URL</td>  <td>/produccion</td></tr>
        <tr><td>Descripción</td>  <td>Permite eliminar una produccion existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>DELETE</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{
            "id_produccion": 3
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se elimino con éxito",
            "result": {
            "affectedRows": 1 
            }
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontró el registro para eliminar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR UNA PRODUCCION</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar una produccion</td></tr>
        <tr><td>URL</td>  <td>/produccion/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar una produccion por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>{ Null }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_lote": 1,
	        	"nombre": "looote",
	        	"fk_id_finca": null,
	        	"fk_id_variedad_cultivo": null,
	        	"estado": "activo"
	        }
        ]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados para la búsqueda."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR PRODUCCION</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar produccion</td></tr>
        <tr><td>URL</td>  <td>/produccion</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todas las producciones registradas en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	        {
	        	"id_lote": 1,
	        	"nombre": "looote",
	        	"fk_id_finca": null,
	        	"fk_id_variedad_cultivo": null,
	        	"estado": "activo"
	        }
        ]       
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron producciones"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : error
    }
    </td></tr>
    </table>
</body>
</html>