<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de la API</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Documentación de la API Producción</h1>
    <br>
    <hr>
    <h3>Requerimiento 1. Documentación ENDPOINT REGISTRAR PRODUCCIÓN</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Registrar Producción</td></tr>
        <tr><td>URL</td>  <td>/registrarProduccion</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar una nueva producción en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder</td></tr>
        <tr><td>Request json</td>  <td>{"cantidad_produccion": 100, "precio": 50, "fk_id_variedad_cultivo": 2}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se registró la producción con éxito",
            "result": {}
        }
    <br>
    Incorrecto:
    
    Status: 403
    json:
    {
        "status": 403,
        "message": "No se registró la producción"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    
    <h3>Requerimiento 2. Documentación ENDPOINT ACTUALIZAR PRODUCCIÓN</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar Producción</td></tr>
        <tr><td>URL</td>  <td>/actualizarProduccion/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar la información de una producción existente en la base de datos por medio de su id</td></tr>
        <tr><td>Método HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder</td></tr>
        <tr><td>Request json</td>  <td>	{"cantidad_produccion": 120, "precio": 60,"fk_id_variedad_cultivo": 3}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó la producción con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontró el registro para actualizar."
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    
    <h3>Requerimiento 3. Documentación ENDPOINT DESACTIVAR PRODUCCIÓN</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Desactivar Producción</td></tr>
        <tr><td>URL</td>  <td>/desactivar/Produccion/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite desactivar una producción existente en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuario</td>  <td>Administrador</td></tr>
        <tr><td>Request json</td>  <td>{"estado": "inactivo"}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se desactivó la producción con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontró la producción para desactivar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    
    <h3>Requerimiento 4. Documentación ENDPOINT BUSCAR PRODUCCIÓN</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar Producción</td></tr>
        <tr><td>URL</td>  <td>/buscarProduccion/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar una producción por su id en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder, Aprendiz</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        [
        {
          "id_produccion": 1,
          "cantidad_produccion": 120,
          "precio": 60,
          "fk_id_variedad_cultivo": 3,
          "estado": "inactivo"
        }
      ]
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontraron resultados para la búsqueda"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    
    <h3>Requerimiento 5. Documentación ENDPOINT LISTAR PRODUCCIONES</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Producciones</td></tr>
        <tr><td>URL</td>  <td>/listarProduccion</td></tr>
        <tr><td>Descripción</td>  <td>Permite listar todas las producciones registradas en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Null</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder, Aprendiz</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json: 
        [
  {
    "id_produccion": 1,
    "cantidad_produccion": 120,
    "precio": 60,
    "fk_id_variedad_cultivo": 3,
    "estado": "inactivo"
  },
  {
    "id_produccion": 2,
    "cantidad_produccion": 120,
    "precio": 60,
    "fk_id_variedad_cultivo": 2,
    "estado": "inactivo"
  }
  ]
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontraron producciones"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table> 
    

</body>
</html>
